ion-tab-bar.custom-tab-bar {
  --background: var(--ion-color-background_light);
  --border: none;
  border-top: 2px solid var(--ion-color-primary);
  box-shadow: none;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: env(safe-area-inset-bottom);

  ion-label {
    display: block;
    font-size: 0.70rem;
    color: var(--ion-color-dark);
    margin-top: 2px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.01em;
    line-height: 1.1;
    pointer-events: none;
  }
}

ion-tab-button {
  --color: #111;
  --color-selected: var(--ion-color-primary);
  background: transparent;
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  min-height: 0;
  box-shadow: none;

  ion-icon {
    font-size: 1.6rem;
    color: var(--color);
    transition: color 0.2s, transform 0.2s;
    display: block;
    margin-bottom: 1px;
  }

  &.tab-selected ion-icon {
    color: var(--ion-color-primary);
    transform: scale(1.05); 
  }

  &.tab-selected ion-label {
    color: var(--ion-color-primary);
    font-weight: 600;
  }
}

ion-tab-bar.custom-tab-bar::before,
ion-tab-bar.custom-tab-bar::after {
  display: none !important;
  content: none !important;
}
