<!-- Conteúdo principal da página de perfil -->
<ion-content class="profile-content">
  <!-- Cabeçalho personalizado com avatar e nome do utilizador -->
  <div class="profile-header ">
    <!-- Avatar com as iniciais do utilizador -->
    <div class="avatar">
      {{ (userName && userName.length > 1) ? userName.substring(0, 2).toUpperCase() : 'NT' }}
    </div>
    <!-- Saudação personalizada -->
    <div>
      <div>Olá, {{ userName }}!</div>
    </div>
    <!-- Ícone de notificações com evento de clique -->
    <ion-icon name="notifications" (click)="abrirNotificacoes()"></ion-icon>
  </div>

  <!-- Lista de opções do perfil -->
  <div>
    <!-- Iteração sobre as opções do perfil -->
    <div 
      *ngFor="let item of profileOptions"
      (click)="handleOptionClick(item)"
      [ngClass]="{'logout-option-text': item === 'Terminar Sessão'}"
      class="profile-list-item">
      <!-- Texto da opção -->
      <span>{{ item }}</span>
      <!-- Ícone dinâmico baseado na opção -->
      <ion-icon 
        [name]="item === 'Terminar Sessão' ? 'log-out-outline' : 'chevron-forward-outline'"
        [style.--color]="item === 'Terminar Sessão' ? 'red' : 'var(--ion-color-danger)'">
      </ion-icon>
    </div>
  </div>
</ion-content>