<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Compra Concluída</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="finish-content">
  <div class="finish-body">
    <ion-icon name="checkmark-circle-outline" class="finish-icon animate-pop"></ion-icon>
    <div class="finish-title">Compra finalizada <br> com sucesso!</div>
    <div class="finish-desc">Obrigado por comprar conosco! <br> Esperamos vê-lo novamente em breve. </div>
  </div>
</ion-content>

<ion-footer>
  <div class="fixed-bottom">
    <ion-button expand="block" class="success-btn" (click)="continuarComprando()">
      Continuar a comprar
    </ion-button>
  </div>
</ion-footer>
