// Estilos para o componente de cabeçalho com pesquisa
app-search-header {
  display: block;
  height: 72px;
}

// Estilos para o conteúdo principal do menu
.menu-content {
  --ion-background-color: #fff;
  padding-bottom: 70px;
  position: relative;
}

// Estilos para o corpo do conteúdo do menu
.menu-body-content {
  padding-top: 0;
}

// Estilos para o container das abas
.tab-container {
  display: flex;
  width: 100%;
  border-bottom: 2px solid #e0e0e0;
  background-color: var(--ion-background-color);
  position: sticky;
  top: 60px;
  z-index: 11;
}

// Estilos para cada botão de aba
.tab {
  flex: 1;
  text-align: center;
  padding: 22px 0 16px 0;
  font-size: 1.35rem;
  font-weight: 700;
  color: #222;
  background: #fff;
  position: relative;
  cursor: pointer;
  border: none;
  transition: color 0.15s, background 0.15s;
}

// Estilos para a aba ativa
.tab.active {
  background: #e5e6e9;
  font-weight: 700;
}

// Estilos específicos para a aba de Produtos quando ativa
.tab.active:first-child {
  color: #42744c;
}
.tab.active:first-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #42744c;
}

// Estilos específicos para a aba de Serviços quando ativa
.tab.active:last-child {
  color: #7b98fa;
}
.tab.active:last-child::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #7b98fa;
}

// Remover indicador de aba quando não está ativa
.tab:not(.active)::after {
  display: none;
}

// Estilos para a lista de categorias/serviços
.category-list {
  width: 100%;
  background: #fff;
  z-index: 1;
}

// Estilos para cada item da categoria/serviço
.category-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 16px 15px 18px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 1.08rem;
  color: #222;
  cursor: pointer;
  transition: background 0.12s;
}

// Efeito de clique nos itens
.category-item:active {
  background: #f3f6f3;
}

// Estilos para o ícone de seta
.chevron {
  color: #616161;
  font-size: 1.55rem;
  margin-left: 8px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

// Estilos para a lista principal
.list {
  padding-top: 60px;
}