<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Devolução</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="success-content">
  <div class="success-body">
    <ion-icon name="refresh-circle-outline" class="success-icon animate-pop"></ion-icon>
    <div class="success-title">Pedido de Devolução <br> enviado.</div>
    <div class="success-desc">Notificaremos quando for analisada.</div>
  </div>
</ion-content>

<ion-footer>
  <div class="fixed-bottom">
    <ion-button expand="block" class="success-btn" (click)="voltarParaLoja()">
      Voltar à loja
    </ion-button>
  </div>
</ion-footer>
